<form class="ui grey inverted stacked segment form" action="/dashboard/addgame" method="POST" enctype="multipart/form-data">
  <div class="three fields">
    <div class="field">
      <label for ="title">タイトル</label>
      <input placeholder="タイトル" type="text" name="title" autofocus required>
    </div>
    <div class="field">
      <label>イメージ</label>
      <input placeholder="イメージ" type="file" name="picture" required>
    </div>
  </div>

  <button class="ui submit button">ゲーム追加</button>
</form>