<!-- Form to enter name and message -->
<div class="messageform">
  <form class="ui form" action="/message/addmessage" method="post">
      <div class="field">
        <label>名前</label>
        <input type="text" name="name" placeholder="名前を入力する">
      </div>
      <div class="field">
        <label>メッセージ</label>
        <textarea name="message" placeholder="メッセージを入力してください"></textarea>
      </div>
      <button class="ui button" type="submit">送信</button>
  </form>
</div>