<nav class="ui inverted menu">
  <header class="ui header item"> <a href="/"> ゲームアプリ </a><img src="https://icons.veryicon.com/png/o/object/color-game-icon/game-controller-6.png" alt="Game Controller" width="40" height="40" style="float:right;"></header>
  <div class="right menu">
    <a id="signup" class="item" href="/signup"> 会員登録  <i class="user circle icon"></i></a>
    <a id="login" class="item" href="/login">  ログイン <i class="sign-in icon"></i></a>
  </div>
</nav>

<script>
  document.querySelector("#{{id}}").classList.add("active");
</script>
