{{> menu id="contact"}}

<section class="ui grey inverted two column grid segment">
  <div class="ui column">
      <h2>私たちはここで、地域との関わりを大切にします!</h2>
        <p>
          GameApp Inc.は、コミュニティに対して深い関心を持ち、可能な限りコミュニティと関わりたいと考えています。そのため、私たちはオープンであることを支持し、真に至福の人間体験をさらに発展させるために、コミュニティの要求に耳を傾けることを厭いません。
        </p>
      <div class="ui divider"></div>

      <h3 class="ui center aligned header">下記よりお気軽にお問い合わせください。</h3>
      <div class="ui statistic">
        <p>
          本社 <i class="building outline icon"></i>: 108-0014 東京都港区芝5丁目37番8号
        </p>
        <p>
          電話番号 <i class="phone icon"></i>: +81 357835500
        </p>
        <p>
          電子メール <i class="envelope icon"></i>: <a href = "gameappteamcontact@gmail.com">gameappteamcontact@gmail.com</a>
        </p>
        <p>
          ウェブサイト <i class="globe icon"></i>：<a href="https://game-collection.glitch.me">https://game-collection.glitch.me</a>
        </p>
        <p>
          
        </p>
      </div>
  
  <!-- Onclick brings the user to another webpage. Reference: https://www.w3schools.com/jsref/event_onclick.asp -->
  <!-- window.location.href returns the href (URL) of the current page. Reference: https://www.w3schools.com/js/js_window_location.asp-->
  <div class="buttons">
        <button class="ui facebook button" onclick="window.location.href='https://www.facebook.com/ELDENRINGOFFICIAL/';">
          <i class="facebook icon"></i>
          GameApp
        </button>
        <button class="ui twitter button" onclick="window.location.href='https://twitter.com/ELDENRING?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor';">
          <i class="twitter icon"></i>
          GameApp
        </button>
        <button class="ui instagram button" onclick="window.location.href='https://www.instagram.com/eldenring/?hl=en';">
          <i class="instagram icon"></i>
          GameApp
        </button>
    </div>
  </div>  
  
  <div class="ui column">
    <div class="ui grid">
      <h2>
        私たちは、ここ東京の下町に位置しています。ぜひ、遊びに来てくださいね。٩(＾◡＾)۶
      </h2>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6481.543512347023!2d139.75903866466723!3d35.6826216531493!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188bf9b11e03ab%3A0x94bd79343edb8416!2sShin-Marunouchi%20Building!5e0!3m2!1sen!2sie!4v1679084698527!5m2!1sen!2sie" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</section>
